.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: opacity 1s ease 0.5s;
}

.footer__column-link:hover {
    color:  #2F80ED;
    opacity: .5;
}