.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: opacity 1s ease-in-out 0.5s;
    color:  #2F80ED;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.khan__buy-link:hover {
    opacity: 0.5;
}